%h1 オススメする
.form
  = form_tag  do
    = text_field_tag 'keyword', @keyword
    = submit_tag '検索'
%section.amazon
  %h2 検索結果    
  - if @res.present?
    .items
      - @res.items.each do |i|
        .item
          .image
            = link_to new_item_path(:ASIN => i.get('ASIN')) do
              = image_tag i.get('LargeImage/URL')
          .asin= i.get('ASIN')
          .title= i.get('ItemAttributes/Title')
          .author= i.get('Author')
  - else
    %p.empty
      見つかりませんでした

%section.items
  %h1 みんなのオススメ
- @items.each do |item|
  .item
    %h2
      = link_to item do
        = item.name
    = simple_format(item.description)